.btn-primary {
  background-color: red;
}

h1 {
  color: red;
}

.container {
  background-color: #999;
}

.bi {
  font-size: 60px;
}

.bi-alarm.teste{
  color: green;
  font-size: 50px;
}

.blue {
  color: blue;
}

.red {
  color: red;
}